<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jack.sy.dao.CollegeMapper">

	<resultMap type="org.jack.sy.entity.CollegeEntity" id="BaseResultMap">
		<id column="ID" property="id" jdbcType="BIGINT"/>
		<result column="COLLEGENUMBER" property="collegeNumber" jdbcType="BIGINT"/>
		<result column="COLLEGENAME" property="collegeName" jdbcType="VARCHAR"/>
	</resultMap>
	
	 <sql id="Base_Column_List">
        ID,COLLEGENUMBER,COLLEGENAME
    </sql>
    
    <insert id="insert" parameterType="org.jack.sy.entity.CollegeEntity">
    	insert into college (collegeNumber,collegeName)
    	values(#{collegeNumber},#{collegeName})
    </insert>
    
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long">
		select
		<include refid="Base_Column_List"/>
		from college
		where ID = #{id,jdbcType=BIGINT} limit 1
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="Long">
		 delete from college
         where ID = #{id,jdbcType=BIGINT}
	</delete>
	
	<update id="updateByPrimaryKey" parameterType="org.jack.sy.entity.CollegeEntity">
		update college
		<trim prefix="set" suffixOverrides=",">
			<if test="collegeNumber!=null">
				COLLEGENUMBER = #{collegeNumber,jdbcType=BIGINT},
			</if>
			<if test="collegeName!=null and collegeName!=''">
				COLLEGENAME = #{collegeName,jdbcType=VARCHAR},
			</if>
		</trim>
		where ID = #{id,jdbcType=BIGINT}
	</update>
</mapper>