<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jack.sy.dao.CurriculumMapper">

	<resultMap type="org.jack.sy.entity.CurriculumEntity" id="BaseResultMap">
		<id column="ID" property="id" jdbcType="BIGINT"/>
		<result column="CURRICULUMNAME" property="curriculumName" jdbcType="BIGINT"/>
		<result column="TEACHERID" property="teacherId" jdbcType="BIGINT"/>
		<result column="STUDENTID" property="studentId" jdbcType="BIGINT"/>
		<result column="CLASSTIME" property="classTime" jdbcType="VARCHAR"/>
		<result column="CLASSPLACE" property="classPlace" jdbcType="VARCHAR"/>
		<result column="CLASSWEEKLY" property="classWeekly" jdbcType="VARCHAR"/>
		<result column="CURRICULUMTYPE" property="curriculumType" jdbcType="SMALLINT"/>
		<result column="CREDIT" property="credit" jdbcType="VARCHAR"/>
	</resultMap>
	
	 <sql id="Base_Column_List">
        ID,CURRICULUMNAME,TEACHERID,STUDENTID,CLASSTIME,CLASSPLACE,CLASSWEEKLY,CURRICULUMTYPE,CREDIT
    </sql>
    
    <insert id="insert" parameterType="org.jack.sy.entity.CurriculumEntity">
    	insert into curriculum (CURRICULUMNAME,TEACHERID,STUDENTID,CLASSTIME,CLASSPLACE,CLASSWEEKLY,CURRICULUMTYPE,CREDIT)
    	values(#{curriculumName},#{teacherId},#{studentId},#{classTime},#{classPlace},#{classWeekly},#{curriculumType},#{credit})
    </insert>
    
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long">
		select
		<include refid="Base_Column_List"/>
		from curriculum
		where ID = #{id,jdbcType=BIGINT} limit 1
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="Long">
		 delete from curriculum
         where ID = #{id,jdbcType=BIGINT}
	</delete>
	
	<update id="updateByPrimaryKey" parameterType="org.jack.sy.entity.CurriculumEntity">
		update curriculum
		<trim prefix="set" suffixOverrides=",">
			<if test="curriculumName!=null">
				CURRICULUMNAME = #{curriculumName,jdbcType=BIGINT},
			</if>
			<if test="stuName!=null">
				TEACHERID = #{teacherId,jdbcType=BIGINT},
			</if>
			<if test="gender!=null">
				STUDENTID = #{studentId,jdbcType=BIGINT},
			</if>
			<if test="classTime!=null and classTime!=''">
				CLASSTIME = #{classTime,jdbcType=VARCHAR},
			</if>
			<if test="classPlace!=null and classPlace!=''">
				CLASSPLACE = #{classPlace,jdbcType=VARCHAR},
			</if>
			<if test="classWeekly!=null and classWeekly!=''">
				CLASSWEEKLY = #{classWeekly,jdbcType=VARCHAR},
			</if>
			<if test="curriculumType!=null">
				CURRICULUMTYPE = #{curriculumType,jdbcType=SMALLINT},
			</if>
			<if test="credit!=null and credit!=''">
				CREDIT = #{credit,jdbcType=VARCHAR}
			</if>
		</trim>
		where ID = #{id,jdbcType=BIGINT}
	</update>
</mapper>