<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jack.sy.dao.ManagerMapper">

	<resultMap type="org.jack.sy.entity.ManagerEntity" id="BaseResultMap">
		<id column="ID" property="id" jdbcType="BIGINT"/>
		<result column="MANAGERNAME" property="managerName" jdbcType="VARCHAR"/>
		<result column="PASSWD" property="passwd" jdbcType="VARCHAR"/>
		<result column="ROLEID" property="roleId" jdbcType="BIGINT"/>
	</resultMap>
	
	 <sql id="Base_Column_List">
        ID,MANAGERNAME,PASSWD,ROLEID
    </sql>
    
    <insert id="insert" parameterType="org.jack.sy.entity.ManagerEntity">
    	insert into manager (MANAGERNAME,PASSWD,ROLEID)
    	values(#{managerName},#{passwd},#{roleId})
    </insert>
    
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long">
		select
		<include refid="Base_Column_List"/>
		from manager
		where ID = #{id,jdbcType=BIGINT} limit 1
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="Long">
		 delete from manager
         where ID = #{id,jdbcType=BIGINT}
	</delete>
	
	<update id="updateByPrimaryKey" parameterType="org.jack.sy.entity.ManagerEntity">
		update manager
		<trim prefix="set" suffixOverrides=",">
			<if test="managerName!=null and managerName!=''">
				MANAGERNAME = #{managerName,jdbcType=VARCHAR},
			</if>
			<if test="passwd!=null and passwd!=''">
				PASSWD = #{passwd,jdbcType=VARCHAR},
			</if>
			<if test="roleId!=null">
				ROLEID = #{roleId,jdbcType=BIGINT},
			</if>
		</trim>
		where ID = #{id,jdbcType=BIGINT}
	</update>
</mapper>